.chart {
  &__card {
    padding: $padding;
    border: 1px solid $primary;
    border-radius: $border-radius;
  }
}

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 1024px) and (max-width: 1339px) {
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (min-width: 320px) and (max-width: 767px) {
}
