.app {
  display: grid;
  justify-content: center;
  align-items: flex-start;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 1440px) {
  .app {
    grid-template-columns: $grid-laptop-xl;
    column-gap: $grid-laptop-gap-xl;
    padding: $padding * 4;

    &__chart {
      grid-column: 1 / 9;
    }
    &__base-button {
      grid-column: 9 / 13;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1339px) {
  .app {
    grid-template-columns: $grid-laptop;
    column-gap: $grid-laptop-gap;
    padding: $padding * 3;

    &__chart {
      grid-column: 1 / 9;
    }
    &__base-button {
      grid-column: 9 / 13;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .app {
    grid-template-columns: $grid-tablet;
    grid-template-rows: $grid-tablet-rows;

    column-gap: $grid-tablet-gap;
    row-gap: $padding;

    padding: $padding 0px;

    &__chart {
      grid-column: 1 / 9;
      grid-row: 1 / 6;
    }
    &__base-button {
      grid-column: 1 / 9;
      align-self: center;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .app {
    grid-template-columns: $grid-mobile;
    grid-template-rows: $grid-mobile-rows;

    row-gap: $padding;
    justify-content: space-evenly;

    padding: $padding 0px;

    &__chart {
      grid-column: 1 / 7;
      grid-row: 1 / 6;
    }
    &__base-button {
      grid-column: 1 / 7;
      align-self: center;
    }
  }
}
