@font-face {
  font: {
    family: "VK Sans";
    weight: 400;
  }
  src: url("../font/VKSANSDISPLAY-REGULAR.TTF");
}
@font-face {
  font: {
    family: "VK Sans";
    weight: 500;
  }
  src: url("../font/VKSANSDISPLAY-MEDIUM.TTF");
}
@font-face {
  font: {
    family: "VK Sans";
    weight: 600;
  }
  src: url("../font/VKSANSDISPLAY-DEMIBOLD.TTF");
}
@font-face {
  font: {
    family: "VK Sans";
    weight: 700;
  }
  src: url("../font/VKSANSDISPLAY-BOLD.TTF");
}
